@use "sass:color";
// @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
/* Index */
// - Sizing
// - Colors
// - Breakpoints

$content-max-width: 1000px;
$content-width: 80vw;
$border-radius: 12px;

$header-vert-margin: 16px;
$footer-height-wide: 3rem;
$footer-height-thin: 7rem;

// $font-mono: "Roboto Mono", monospace;
$font-mono: "Urbanist", sans-serif;
/* Colors */
$background-color: #ffeecb;

$primary-color: #6b91d6;
$primary-color-light: color.adjust($primary-color, $lightness: 10%);
$primary-color-dark: color.adjust($primary-color, $lightness: -20%);
$text-color: #000000;
$text-color-light: color.adjust($text-color, $lightness: 50%);

$white-gray: #d6d6d6;

/* Viewport breakpoints */
@mixin m-view {
	@media (max-width: 65rem) {
		@content;
	}
}

@mixin s-view {
	@media (max-width: 40rem) {
		@content;
	}
}

@mixin xs-view {
	@media (max-width: 28rem) {
		@content;
	}
}

/* Mixins */
@mixin sticky-footer {
	body {
		display: flex;
		flex-direction: column;
	}

	.main {
		flex: 1 0 auto;
	}

	.footer {
		position: static;
		flex-shrink: 0;
	}
}
