.footer {
	background-color: #11151c;
	height: 50px;
}
.footerWrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 100%;
	padding: 0 1em;
}

.eyeCatcher {
	grid-column: 1;
	color: white;
	align-self: center;
}

.socials {
	grid-column: 2;
	width: 300px;
	margin: auto;
	display: flex;
	justify-content: space-between;

	a {
		color: white;
	}
}
