@import "__variables.scss";

/* Index: */
// 1. Header
// 2. General
// 3. Footer

/* General */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background-color: $background-color;
	color: $text-color;
	font-family: $font-mono;
}

h1,
h2 {
	color: black;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

a {
	color: white;
	background-color: $primary-color;
	text-decoration: none;
	padding: 0 0.25rem;
}
a:hover {
	color: white;
	background-color: $primary-color-dark;
}

ul,
li {
	list-style-position: inside;
}

li > ul {
	padding-left: 2rem;
}

.primary {
	color: $primary-color;
}

/* Header */

.header {
	width: 100%;
	position: fixed;
	padding-top: 1rem;
	background-color: rgba($background-color, 0.8);
	backdrop-filter: blur(5px);

	.headerWrapper {
		max-width: calc($content-max-width + 10rem);
		width: $content-width;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		.authorInfo {
			.title {
				font-size: 1.25rem;
			}

			.subtitle {
				color: $text-color-light;
			}
		}

		.navbar {
			display: flex;
			justify-content: space-between;
			width: 10rem;
			justify-self: end;

			a {
				font-size: 1.05rem;
				background: $primary-color;
				color: white;
				padding: 0 0.25rem;
			}

			a:hover {
				background: $primary-color-dark;
			}
		}
	}
}

/* Content */

.main {
	padding-top: 5rem;
	padding-bottom: calc($footer-height-wide + 2rem);

	@include medium-view {
		display: flex;
		padding-bottom: 2rem;
	}

	.wrapper {
		max-width: $content-max-width;
		width: $content-width;
		margin: auto;

		@include small-view {
			.wrapper {
				width: 85vw;
			}
		}
	}
}

/* Footer */

.footer {
	position: fixed;
	bottom: 0;
	z-index: 2;
	height: $footer-height-wide;
	width: 100vw;
	padding: 0 1rem;
	background-color: #11151c;
	color: white;

	.footerWrapper {
		display: grid;
		grid-template: 1fr / repeat(3, 1fr);
		height: 100%;

		.eyeCatcher {
			grid-column: 1;
			align-self: center;
		}

		.socials {
			grid-column: 2;
			width: 19rem;
			margin: auto;
			display: flex;
			justify-content: space-between;

			a {
				color: white;
				background-color: transparent;
			}

			a:hover {
				color: $white-gray;
			}
		}

		.copyright {
			grid-column: 3;
			align-self: center;
			text-align: right;
		}
	}
}

@include medium-view {
	@include sticky-footer;

	.footer {
		height: $footer-height-thin;
		padding: 0.5rem 0;

		.footerWrapper {
			max-width: 22rem;
			margin: auto;
			grid-template: repeat(3, 1fr) / 1fr;
			row-gap: 3px;
			align-items: center;
			text-align: center;

			.eyeCatcher {
				grid-column: unset;
				grid-row: 2;
			}

			.socials {
				grid-column: unset;
				grid-row: 1;
			}

			.copyright {
				grid-column: unset;
				grid-row: 3;
				text-align: center;
			}
		}
	}
}
