@font-face {
	font-family: "Minecraftia";
	src: url(../../../public/fonts/Minecraftia-Regular.ttf);
}

:root {
	--max-width: 1000px;
	--border-radius: 12px;
	--font-mono: "Roboto Mono", monospace;

	--background-color: #fff6ed;
	--primary-color: #6b91d6;
	--text-color: #000000;
	--stroke-color: #5062c3;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-mono);
}

h1,
h2 {
	font-family: "Minecraftia";
}

a {
	color: var(--primary-color);
	text-decoration: none;
}
a:hover {
	color: white;
	background-color: var(--primary-color);
}

ul,
li {
	list-style-position: inside;
}

li > ul {
	padding-left: 2em;
}
.primary {
	color: var(--primary-color);
}

.main {
	padding-top: 100px;
	min-height: 100vh;
	margin-bottom: -50px;
}

.wrapper {
	max-width: var(--max-width);
	width: 70vw;
	margin: auto;
}
