.header {
	position: fixed;
	padding-top: 1em;
	width: 100%;

	.headerWrapper {
		max-width: 70%;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		.authorInfo {
			grid-column: 1;

			.title {
				font-size: 1.25em;
			}
		}

		.navbar {
			grid-column: 3;
			display: flex;
			justify-content: space-between;
			width: 40%;
			justify-self: end;

			a {
				font-size: 1em;
			}
		}
	}
}
