@import "__variables.scss";

.titleWrapper {
	max-width: 32rem;
	margin: auto;
	margin-bottom: 2rem;

	.imageContainer {
		margin: auto;
		margin-bottom: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		div {
			display: flex;
			width: 150px;
			justify-content: space-between;
			font-size: 2rem;
		}
	}

	p {
		text-align: justify;
	}
}

.contentWrapper {
	display: grid;
	grid-template-columns: 55% 40%;
	grid-template-rows: 1fr 1fr;
	column-gap: 2rem;
	text-align: justify;

	@include small-view {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		text-align: left;
	}

	.hobbiesWrapper {
		grid-row-start: 1;
		grid-row-end: span 2;
	}
}

.skillList {
	.item {
		display: inline-block;
		padding: 0.5rem;
		margin-right: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0.15rem solid $primary-color-dark;
		background-color: $primary-color;
		color: white;
	}
}
